
<div id="wrapper">
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="content-main">
			<!--banner-->
			<div class="banner">
				<h2>
					<a href="index.html">Home</a>
					<i class="fa fa-angle-right"></i>
					<span>BillSales</span>
				</h2>
			</div>
			<!--//banner-->
			<!--content-->
			<div class="content-top">
				<div class="col-md-12 ">
					<div class="content-top-1">
						<div>
							<h3>Quản lý sản phẩm</h3><br />
							<button style="margin-bottom:1%;" class="btn btn-success" (click)="showAdd()">Thêm
								+</button><br/>
							<input style="width:30%" placeholder="Tìm kiếm" type="text" [(ngModel)]="keyword" name="keyword" />
							<button (click)="Search()">Tìm kiếm</button>
							
							<table style="margin-top:3%;" class="table table-bordered">
								<thead>
									<tr>
										<th style="width:20%">Tên SP</th>
										<!-- <th style="width:10%">Hình ảnh</th> -->
										<th style="width:10%">Năm SX</th>
										<th style="width:10%">Xuất xứ</th>
										<th style="width:10%">Dòng SP</th>
										<th style="width:10%">Số lượng</th>
										<th style="width:12%">Tình trạng</th>
										<th style="width:18%">Chức năng</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of items | filter:filterTerm">
										<td>{{item.name}}</td>
										<!-- <td>
											<img class="hinhanh" src="../assets/images/{{item.image}}" alt=""
												style="width:50px; height:50px">
										</td> -->
										<td>{{item.yearOfManufacturer}}</td>
										<td>{{item.origin}}</td>
										<td>{{item.productype.productypeName}}</td>
										<td>{{item.amount}}</td>
										<td>{{item.productStatus}}</td>
										<td>
											<button style="margin-left: 2%;" class="btn btn-info"><i class="fa fa-eye"
													aria-hidden="true" (click)="showDetail(item.id)"></i></button>
											<button style="margin-left: 2%;" class="btn btn-success"
												(click)="showEdit(item.id)"><i class="fa fa-pencil"
													aria-hidden="true"></i></button>
											<button style="margin-left: 2%;" class="btn btn-danger"
												(click)="deleteShow(item.id)"><i class="fa fa-trash-o"
													aria-hidden="true"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
							<pagination [totalItems]="30"></pagination>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div bsModal #editAndADD="bs-modal" class="modal fade" tabindex="-1" role="dialog"
				aria-labelledby="dialog-sizes-name1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form #productTypeForm="ngForm" (ngSubmit)="SaveForm(productTypeForm.value)" *ngIf="entity">
							<h4 id="dialog-sizes-name1" class="modal-title pull-left">Quản lý sản phẩm</h4>
							<div class="modal-header">
								<button type="button" class="close pull-right" (click)="editAndADD.hide()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-4">
										<label for="id">Id SP</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<input type="text" class="form-control" value="" name="id"
											[(ngModel)]="entity.id">
									</div>
									<div class="col-md-4">
										<label for="name">Tên sản phẩm:</label>
										<input type="text" class="form-control" value="" name="name"
											[(ngModel)]="entity.name">
									</div>
									<!-- <div class="col-md-4">
										<label for="image">Hình ảnh:</label>
										<div class="row" style="margin-bottom:15px;">
											<div class="col-md-2">
											  <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files[0].name)" style="display:none;" (onUploadFinished)="uploadFinished($event)" name="image" [(ngModel)]="entity.image">
											  <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
											</div>
											<div class="col-md-2">
											  <span class="upload" *ngIf="progress > 0">
												{{progress}}%
											  </span>
											  <span class="upload" *ngIf="message">
												{{message}}
											  </span>
											</div>
										  </div>
										<input type="text" class="form-control" value="" name="image"
											[(ngModel)]="entity.image"> 
									</div> -->
								</div>
								<div class="row">
									<div class="col-md-4">
										<label for="updateDay">Ngày cập nhật:</label>
										<input type="datetime-local" class="form-control" value="" name="updateDay"
											[(ngModel)]="entity.updateDay">
									</div>
									<div class="col-md-4">
										<label for="yearOfManufacturer">Năm sản xuất:</label>
										<input type="number" class="form-control" value="" name="yearOfManufacturer"
											[(ngModel)]="entity.yearOfManufacturer">
									</div>
									<div class="col-md-4">
										<label for="origin">Xuất xứ:</label>
										<input type="text" class="form-control" value="" name="origin"
											[(ngModel)]="entity.origin">
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<label for="size">Kích thước:</label>
										<input type="text" class="form-control" value="" name="size"
											[(ngModel)]="entity.size">
									</div>
									<div class="col-md-4">
										<label for="production">Nơi sản xuất:</label>
										<input type="text" class="form-control" value="" name="production"
											[(ngModel)]="entity.production">
									</div>
									<div class="col-md-4">
										<label for="material">Chất liệu:</label>
										<input type="text" class="form-control" value="" name="material"
											[(ngModel)]="entity.material">
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<label for="pattern">Họa tiết:</label>
										<input type="text" class="form-control" value="" name="pattern"
											[(ngModel)]="entity.pattern">
									</div>
									<div class="col-md-4">
										<label for="note">Lưu ý:</label>
										<input type="text" class="form-control" value="" name="note"
											[(ngModel)]="entity.note">
									</div>
									<div class="col-md-4">
										<label for="shipmentNumber">Số lô hàng:</label>
										<input type="number" class="form-control" value="" name="shipmentNumber"
											[(ngModel)]="entity.shipmentNumber">
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<label for="productypeId">ID loại sản phẩm:</label>
										<input type="text" class="form-control" value="" name="productypeId"
											[(ngModel)]="entity.productypeId">
									</div>
									<div class="col-md-4">
										<label for="amount">Số lượng:</label>
										<input type="number" class="form-control" value="" name="amount"
											[(ngModel)]="entity.amount">
									</div>
									<div class="col-md-4">
										<label for="productStatus">Tình trạng:</label>
										<input type="text" class="form-control" value="" name="productStatus"
											[(ngModel)]="entity.productStatus">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="image">Hình ảnh:</label>
										<div class="row" style="margin-bottom:15px;">
											<div class="col-md-4">
											  <input type="file"  #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" (onUploadFinished)="uploadFinished($event)" name="image" [(ngModel)]="entity.image">
											  <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
											</div>
											<div class="col-md-8">
											  <span class="upload" *ngIf="progress > 0">
												{{progress}}%
											  </span>
											  <span class="upload" *ngIf="message">
												{{message}}
											  </span>
											</div>
										  </div>
										<!-- <input type="text" class="form-control" value="" name="image"
											[(ngModel)]="entity.image">  -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="generalIntroduction">Mô tả chung:</label>
										<ckeditor [editor]="Editor" data="Mô tả chung" name="generalIntroduction" [(ngModel)]="entity.generalIntroduction" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="generalIntroduction"
											[(ngModel)]="entity.generalIntroduction"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="detailIntroduction">Mô tả chi tiết:</label>
										<ckeditor [editor]="Editor" data="Mô tả chi tiết" name="detailIntroduction" [(ngModel)]="entity.detailIntroduction" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="detailIntroduction"
											[(ngModel)]="entity.detailIntroduction"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="detailIntroduction1">Mô tả chi tiết 1:</label>
										<ckeditor [editor]="Editor" data="Mô tả chi tiết 1" name="detailIntroduction1" [(ngModel)]="entity.detailIntroduction1" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="detailIntroduction1"
											[(ngModel)]="entity.detailIntroduction1"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="detailIntroduction2">Mô tả chi tiết 2:</label>
										<ckeditor [editor]="Editor" data="Mô tả chi tiết 2" name="detailIntroduction2" [(ngModel)]="entity.detailIntroduction2" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="detailIntroduction2"
											[(ngModel)]="entity.detailIntroduction2"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="detailIntroduction3">Mô tả chi tiết 3:</label>
										<ckeditor [editor]="Editor" data="Mô tả chi tiết 3" name="detailIntroduction3" [(ngModel)]="entity.detailIntroduction3" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="detailIntroduction3"
											[(ngModel)]="entity.detailIntroduction3"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="detaiIintroduction4">Mô tả chi tiết 4:</label>
										<ckeditor [editor]="Editor" data="Mô tả chi tiết 4" name="detaiIintroduction4" [(ngModel)]="entity.detaiIintroduction4" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="detaiIintroduction4"
											[(ngModel)]="entity.detaiIintroduction4"> -->
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<br />
								<button type="submit" class="btn btn-default">Submit</button>
								<button type="button" class="btn btn-default" (click)="editAndADD.hide()"
									data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div bsModal #editAndADD1="bs-modal" class="modal fade" tabindex="-1" role="dialog"
				aria-labelledby="dialog-sizes-name1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form #productTypeForm="ngForm" (ngSubmit)="SaveForm(productTypeForm.value)" *ngIf="entity1">
							<h4 id="dialog-sizes-name1" class="modal-title pull-left">Quản lý sản phẩm</h4>
							<div class="modal-header">
								<button type="button" class="close pull-right" (click)="editAndADD1.hide()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-4">
										<label for="id">Id SP</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<input type="text" class="form-control" value="" name="id"
											[(ngModel)]="entity1.id">
									</div>
									<div class="col-md-4">
										<label for="name">Tên sản phẩm:</label>
										<input type="text" class="form-control" value="" name="name"
											[(ngModel)]="entity1.name">
									</div>
									<div class="col-md-4">
										<label for="image">Hình ảnh:</label>
										<input type="text" class="form-control" value="" name="image"
											[(ngModel)]="entity1.image">
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<label for="updateDay">Ngày cập nhật:</label>
										<input type="datetime-local" class="form-control" value="" name="updateDay"
											[(ngModel)]="entity1.updateDay">
									</div>
									<div class="col-md-4">
										<label for="yearOfManufacturer">Năm sản xuất:</label>
										<input type="number" class="form-control" value="" name="yearOfManufacturer"
											[(ngModel)]="entity1.yearOfManufacturer">
									</div>
									<div class="col-md-4">
										<label for="origin">Xuất xứ:</label>
										<input type="text" class="form-control" value="" name="origin"
											[(ngModel)]="entity1.origin">
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<label for="size">Kích thước:</label>
										<input type="text" class="form-control" value="" name="size"
											[(ngModel)]="entity1.size">
									</div>
									<div class="col-md-4">
										<label for="production">Nơi sản xuất:</label>
										<input type="text" class="form-control" value="" name="production"
											[(ngModel)]="entity1.production">
									</div>
									<div class="col-md-4">
										<label for="material">Chất liệu:</label>
										<input type="text" class="form-control" value="" name="material"
											[(ngModel)]="entity1.material">
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<label for="pattern">Họa tiết:</label>
										<input type="text" class="form-control" value="" name="pattern"
											[(ngModel)]="entity1.pattern">
									</div>
									<div class="col-md-4">
										<label for="note">Lưu ý:</label>
										<input type="text" class="form-control" value="" name="note"
											[(ngModel)]="entity1.note">
									</div>
									<div class="col-md-4">
										<label for="shipmentNumber">Số lô hàng:</label>
										<input type="number" class="form-control" value="" name="shipmentNumber"
											[(ngModel)]="entity1.shipmentNumber">
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<label for="productypeId">ID loại sản phẩm:</label>
										<input type="text" class="form-control" value="" name="productypeId"
											[(ngModel)]="entity1.productypeId">
									</div>
									<div class="col-md-4">
										<label for="amount">Số lượng:</label>
										<input type="number" class="form-control" value="" name="amount"
											[(ngModel)]="entity1.amount">
									</div>
									<div class="col-md-4">
										<label for="productStatus">Tình trạng:</label>
										<input type="text" class="form-control" value="" name="productStatus"
											[(ngModel)]="entity1.productStatus">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="generalIntroduction">Mô tả chung:</label>
										<ckeditor [editor]="Editor" data="Mô tả chung" name="generalIntroduction" [(ngModel)]="entity1.generalIntroduction" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="generalIntroduction"
											[(ngModel)]="entity.generalIntroduction"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="detailIntroduction">Mô tả chi tiết:</label>
										<ckeditor [editor]="Editor" data="Mô tả chi tiết" name="detailIntroduction" [(ngModel)]="entity1.detailIntroduction" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="detailIntroduction"
											[(ngModel)]="entity.detailIntroduction"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="detailIntroduction1">Mô tả chi tiết 1:</label>
										<ckeditor [editor]="Editor" data="Mô tả chi tiết 1" name="detailIntroduction1" [(ngModel)]="entity1.detailIntroduction1" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="detailIntroduction1"
											[(ngModel)]="entity.detailIntroduction1"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="detailIntroduction2">Mô tả chi tiết 2:</label>
										<ckeditor [editor]="Editor" data="Mô tả chi tiết 2" name="detailIntroduction2" [(ngModel)]="entity1.detailIntroduction2" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="detailIntroduction2"
											[(ngModel)]="entity.detailIntroduction2"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="detailIntroduction3">Mô tả chi tiết 3:</label>
										<ckeditor [editor]="Editor" data="Mô tả chi tiết 3" name="detailIntroduction3" [(ngModel)]="entity1.detailIntroduction3" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="detailIntroduction3"
											[(ngModel)]="entity.detailIntroduction3"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="detaiIintroduction4">Mô tả chi tiết 4:</label>
										<ckeditor [editor]="Editor" data="Mô tả chi tiết 4" name="detaiIintroduction4" [(ngModel)]="entity1.detaiIintroduction4" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="detaiIintroduction4"
											[(ngModel)]="entity.detaiIintroduction4"> -->
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<br />
								<!-- <button type="submit" class="btn btn-default">Submit</button> -->
								<button type="button" class="btn btn-default" (click)="editAndADD1.hide()"
									data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="copy">
				<p> &copy; 2020 Minimal. All Rights Reserved | Design by LeVanLong </p>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>