
 
<div id="wrapper">
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="content-main">
			<!--banner-->
			<div class="banner">
				<h2>
					<a href="index.html">Home</a>
					<i class="fa fa-angle-right"></i>
					<span>User</span>
				</h2>
			</div>
			<!--//banner-->
			<!--content-->
			<div class="content-top">
				<div class="col-md-12 ">
					<div class="content-top-1">
						<div>
							<h3>Quản lý người dùng</h3><br />
							<button style="margin-bottom:1%;" class="btn btn-success" (click)="showAdd()">Thêm +</button><br/>
							<input style="width:30%" placeholder="Tìm kiếm" type="text" [(ngModel)]="keyword" name="keyword" />
							<button (click)="Search()">Tìm kiếm</button>
							
							<table style="margin-top:3%;" class="table table-bordered">
								<thead>
									<tr>
										<th style="width:20%; text-align: center">Họ tên</th>
										<th style="width:10%; text-align: center">Ngày sinh</th>
										<th style="width:20%; text-align: center">Địa chỉ</th>
										<th style="width:15%; text-align: center">Email</th>
										<th style="width:10%; text-align: center">Số DT</th>
										<th style="width:5%; text-align: center">Quyền</th>
										<th style="width:20%; text-align: center">Chức năng</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of items">
										<td>{{item.fullname}}</td>
										<td>{{item.dateOfBirth}}</td>
										<td>{{item.userAddress}}</td>
										<td>{{item.email}}</td>
										<td>{{item.phoneNumber}}</td>
										<td>{{item.userRole}}</td>
										<td>
											<button style="margin-left: 2%;" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"
													(click)="showDetail(item.id)"></i></button>
											<!-- <button  style="margin-left: 2%;" class="btn btn-success" (click)="showEdit(item.id)"><i
													class="fa fa-pencil" aria-hidden="true"></i></button> -->
											<button  style="margin-left: 2%;" class="btn btn-danger" (click)="deleteShow(item.id)"><i
													class="fa fa-trash-o" aria-hidden="true"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div bsModal #editAndADD="bs-modal" class="modal fade" tabindex="-1" role="dialog"
				aria-labelledby="dialog-sizes-name1">
				<div class="modal-dialog modal-content">
					<div class="modal-content">
						<form #productTypeForm="ngForm" (ngSubmit)="SaveForm(productTypeForm.value)" *ngIf="entity">
							<h4 id="dialog-sizes-name1" class="modal-title pull-left">Quản lý người dùng</h4>
							<div class="modal-header">
								<button type="button" class="close pull-right" (click)="editAndADD.hide()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<!-- <div class="form-group">
									<label for="fullname">Mã loại:</label>
									<input type="hidden" [(ngModel)]="checkedid">
									<input type="text" class="form-control" value="" name="id" [(ngModel)]="entity.id">
								</div> -->
								<div class="form-group">
									<label for="fullname">Họ tên:</label>
									<input type="text" class="form-control" value="" name="fullname"
										[(ngModel)]="entity.fullname">
								</div>
								<div class="form-group">
									<label for="dateOfBirth">Ngày sinh:</label>
									<input type="datetime-local" class="form-control" value="" name="dateOfBirth"
										[(ngModel)]="entity.dateOfBirth">
								</div>
								<div class="form-group">
									<label for="userAddress">Địa chỉ:</label>
									<input type="text" class="form-control" value="" name="userAddress"
										[(ngModel)]="entity.userAddress">
								</div>
								<div class="form-group">
									<label for="characteristics">Email:</label>
									<input type="email" class="form-control" value="" name="email"
										[(ngModel)]="entity.email">
								</div>
								<div class="form-group">
									<label for="phoneNumber">Số điện thoại:</label>
									<input type="number" class="form-control" value="" name="phoneNumber"
										[(ngModel)]="entity.phoneNumber">
								</div>
								<div class="form-group">
									<label for="acountName">Tên tài khoản:</label>
									<input type="text" class="form-control" value="" name="acountName"
										[(ngModel)]="entity.acountName">
								</div>
								<div class="form-group">
									<label for="userPassword">Mật khẩu:</label>
									<input type="password" class="form-control" value="" name="userPassword"
										[(ngModel)]="entity.userPassword">
								</div>
								<div class="form-group">
									<label for="returnPassword">Nhập lại mật khẩu:</label>
									<input type="password" class="form-control" value="" name="returnPassword"
										[(ngModel)]="entity.returnPassword">
								</div>
								<div class="form-group">
									<label for="userRole">Quyền:</label>
									<input type="text" class="form-control" value="" name="userRole"
										[(ngModel)]="entity.userRole">
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-default">Submit</button>
								<button type="button" class="btn btn-default" (click)="editAndADD.hide()"
									data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div bsModal #editAndADD1="bs-modal" class="modal fade" tabindex="-1" role="dialog"
				aria-labelledby="dialog-sizes-name1">
				<div class="modal-dialog modal-content">
					<div class="modal-content">
						<form #productTypeForm="ngForm" (ngSubmit)="SaveForm(productTypeForm.value)" *ngIf="entity1">
							<h4 id="dialog-sizes-name1" class="modal-title pull-left">Quản lý người dùng</h4>
							<div class="modal-header">
								<button type="button" class="close pull-right" (click)="editAndADD1.hide()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label for="fullname">Id:</label>
									<input type="hidden" [(ngModel)]="checkedid">
									<input type="text" class="form-control" value="" name="id" [(ngModel)]="entity1.id">
								</div>
								<div class="form-group">
									<label for="fullname">Họ tên:</label>
									<input type="text" class="form-control" value="" name="fullname"
										[(ngModel)]="entity1.fullname">
								</div>
								<div class="form-group">
									<label for="dateOfBirth">Ngày sinh:</label>
									<input type="datetime-local" class="form-control" value="" name="dateOfBirth"
										[(ngModel)]="entity1.dateOfBirth">
								</div>
								<div class="form-group">
									<label for="userAddress">Địa chỉ:</label>
									<input type="text" class="form-control" value="" name="userAddress"
										[(ngModel)]="entity1.userAddress">
								</div>
								<div class="form-group">
									<label for="characteristics">Email:</label>
									<input type="email" class="form-control" value="" name="email"
										[(ngModel)]="entity1.email">
								</div>
								<div class="form-group">
									<label for="phoneNumber">Số điện thoại:</label>
									<input type="number" class="form-control" value="" name="phoneNumber"
										[(ngModel)]="entity1.phoneNumber">
								</div>
								<div class="form-group">
									<label for="acountName">Tên tài khoản:</label>
									<input type="text" class="form-control" value="" name="acountName"
										[(ngModel)]="entity1.acountName">
								</div>
								<div class="form-group">
									<label for="userPassword">Mật khẩu:</label>
									<input type="password" class="form-control" value="" name="userPassword"
										[(ngModel)]="entity1.userPassword">
								</div>
								<div class="form-group">
									<label for="returnPassword">Nhập lại mật khẩu:</label>
									<input type="password" class="form-control" value="" name="returnPassword"
										[(ngModel)]="entity1.returnPassword">
								</div>
								<div class="form-group">
									<label for="userRole">Quyền:</label>
									<input type="text" class="form-control" value="" name="userRole"
										[(ngModel)]="entity1.userRole">
								</div>
							</div>
							<div class="modal-footer">
								<!-- <button type="submit" class="btn btn-default">Submit</button> -->
								<button type="button" class="btn btn-default" (click)="editAndADD1.hide()"
									data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="copy">
				<p> &copy; 2020 Minimal. All Rights Reserved | Design by LeVanLong </p>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>