<section class="w3l-form-36">
    <div class="form-36-mian section-gap">
        <div class="wrapper">
            <div class="form-inner-cont">
                <h3>Đăng nhập</h3>
                <form action="#" method="post" class="signin-form">
                    <div class="form-input">
                        <span class="fa fa-user" aria-hidden="true"></span> <input type="text" name="text"
                            placeholder="Tài khoản" required />
                    </div>
                    <div class="form-input">
                        <span class="fa fa-key" aria-hidden="true"></span> <input type="password" name="password"
                            placeholder="Mật khẩu" required />
                    </div>
                    <div class="login-remember d-grid">
                        <label class="check-remaind">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <p class="remember">Remember me</p>
                        </label>
                        <button class="btn theme-button" style="color: red;">Đăng nhập</button>
                    </div>
                    <div class="new-signup">
                        <a href="#reload" class="signuplink">Cấp lại mật khẩu?</a>
                    </div>
                </form>
                <p class="signup">Bạn không có tài khoản? <a href="#signup.html" class="signuplink">Đăng ký</a></p>
            </div>
        </div>
    </div>
</section>