<div id="wrapper">
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="content-main">
			<!--banner-->
			<div class="banner">
				<h2>
					<a href="index.html">Home</a>
					<i class="fa fa-angle-right"></i>
					<span>Category</span>
				</h2>
			</div>
			<!--//banner-->
			<!--content-->
			<div class="content-top">
				<div class="col-md-12 ">
					<div class="content-top-1">
						<div>
							<h3>Quản lý danh mục</h3><br />
							<button style="margin-bottom:1%;" class="btn btn-success" (click)="showAdd()">Thêm
								+</button>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th style="width:10%">Id</th>
										<th style="width:30%">Tên danh mục</th>
										<th style="width:30%">Loại sản phẩm</th>
										<th style="width:20%">Tác vụ</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of items">
										<td>{{item.id}}</td>
										<td>{{item.categoryName}}</td>
										<td>{{item.productype.productypeName}}</td>
										<td>
											<!-- <button style="margin-left: 2%;" class="btn btn-info"><i class="fa fa-eye"
													aria-hidden="true" (click)="showDetail(item.id)"></i></button>
											<button style="margin-left: 2%;" class="btn btn-success"
												(click)="showEdit(item.id)"><i class="fa fa-pencil"
													aria-hidden="true"></i></button> -->
											<button style="margin-left: 2%;" class="btn btn-danger"
												(click)="deleteShow(item.id)"><i class="fa fa-trash-o"
													aria-hidden="true"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div bsModal #editAndADD="bs-modal" class="modal fade" tabindex="-1" role="dialog"
				aria-labelledby="dialog-sizes-name1">
				<div class="modal-dialog modal-content">
					<div class="modal-content">
						<form #newTypeForm="ngForm" (ngSubmit)="SaveForm(newTypeForm.value)" *ngIf="entity">
							<h4 id="dialog-sizes-name1" class="modal-title pull-left">Quản lý danh mục</h4>
							<div class="modal-header">
								<button type="button" class="close pull-right" (click)="editAndADD.hide()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<label for="id">Id danh mục:</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<input type="number" class="form-control" value="" name="id"
											[(ngModel)]="entity.id">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="productypeId">Id loại sản phẩm:</label>
										<input type="text" class="form-control" value="" name="productypeId"
											[(ngModel)]="entity.productypeId">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="categoryName">Tên danh mục:</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<input type="text" class="form-control" value="" name="categoryName"
											[(ngModel)]="entity.categoryName">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-default">Submit</button>
								<button type="button" class="btn btn-default" (click)="editAndADD.hide()"
									data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="copy">
				<p> &copy; 2020 Minimal. All Rights Reserved | Design by LeVanLong </p>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>