<div id="wrapper">
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="content-main">
			<!--banner-->
			<div class="banner">
				<h2>
					<a href="index.html">Home</a>
					<i class="fa fa-angle-right"></i>
					<span>News</span>
				</h2>
			</div>
			<!--//banner-->
			<!--content-->
			<div class="content-top">
				<div class="col-md-12 ">
					<div class="content-top-1">
						<div>
							<h3>Quản lý tin tức</h3><br />
							<button style="margin-bottom:1%;" class="btn btn-success" (click)="showAdd()">Thêm
								+</button><br/>
							
								<input style="width:30%" placeholder="Tìm kiếm" type="text" [(ngModel)]="keyword" name="keyword" />
								<button (click)="Search()">Tìm kiếm</button>
								<!-- <button style="margin-bottom:1%;" class="btn btn-success" (click)="loadData()">Hien
									+</button> -->
							<table style="margin-top:3%;" class="table table-bordered">
								<thead>
									<tr>
										<th style="width:10%">Tiêu đề</th>
										<th style="width:5%">Loại tin</th>
										<th style="width:5%">Tg post</th>
										<th style="width:10%">Tác vụ</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr *ngFor="let item of items | paginate: { id: listing_pagination, itemsPerpage:3, currentPage: page, totalItems: totalRecords }"> -->
									<tr *ngFor="let item of items">	
										<td>{{item.title}}</td>
										<td>{{item.newtype.newstypeName}}</td>
										<td>{{item.postTime}}</td>
										<td>
											<button style="margin-left: 2%;" class="btn btn-info"><i class="fa fa-eye"
													aria-hidden="true" (click)="showDetail(item.id)"></i></button>
											<button style="margin-left: 2%;" class="btn btn-success"
												(click)="showEdit(item.id)"><i class="fa fa-pencil"
													aria-hidden="true"></i></button>
											<button style="margin-left: 2%;" class="btn btn-danger"
												(click)="deleteShow(item.id)"><i class="fa fa-trash-o"
													aria-hidden="true"></i></button>
										</td>
										
									</tr>
									<!-- <pagination-controls id="listing_pagination" maxSize="5" directionLink="true" (pageChange)="page=$event"></pagination-controls> -->
								</tbody>
							</table>
							<!-- <pagination [totalItems]="30"></pagination> -->
						</div>
						
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div bsModal #editAndADD="bs-modal" class="modal fade" tabindex="-1" role="dialog"
				aria-labelledby="dialog-sizes-name1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form #newTypeForm="ngForm" (ngSubmit)="SaveForm(newTypeForm.value)" *ngIf="entity">
							<h4 id="dialog-sizes-name1" class="modal-title pull-left">Quản lý tin tức</h4>
							<div class="modal-header">
								<button type="button" class="close pull-right" (click)="editAndADD.hide()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-4">
										<label for="id">Id tin tức:</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<input type="text" class="form-control" value="" name="id"
											[(ngModel)]="entity.id">
									</div>
									<div class="col-md-4">
										<label for="newtypeId">Id loại tin:</label>
										<input type="text" class="form-control" value="" name="newtypeId"
											[(ngModel)]="entity.newtypeId">
									</div>
									<div class="col-md-4">
										<label for="postTime">Thời gian đăng:</label>
										<input type="datetime-local" class="form-control" value="" name="postTime"
											[(ngModel)]="entity.postTime">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="logo">Hình ảnh:</label>
										<div class="row" style="margin-bottom:15px;">
											<div class="col-md-3">
											  <input type="file" #file (change)="uploadFile(file.files)" style="display:none;" (onUploadFinished)="uploadFinished($event)" name="image" [(ngModel)]="entity.image">
											  <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
											</div>
											<div class="col-md-9">
											  <span class="upload" *ngIf="progress > 0">
												{{progress}}%
											  </span>
											  <span class="upload" *ngIf="message">
												{{message}}
											  </span>
											</div>
										  </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="title">Tiêu đề tin:</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<input type="text" class="form-control" value="" name="title"
											[(ngModel)]="entity.title">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="content">Mô tả:</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<ckeditor [editor]="Editor" data="Mô tả chi tiết" name="description" [(ngModel)]="entity.description" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="content"
											[(ngModel)]="entity.content"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="content">Nội dung:</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<ckeditor [editor]="Editor" data="Nội dung" name="newcontent" [(ngModel)]="entity.newcontent" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="newcontent"
											[(ngModel)]="entity.newcontent"> -->
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-default">Submit</button>
								<button type="button" class="btn btn-default" (click)="editAndADD.hide()"
									data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div bsModal #editAndADD1="bs-modal" class="modal fade" tabindex="-1" role="dialog"
				aria-labelledby="dialog-sizes-name1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form #newTypeForm="ngForm" (ngSubmit)="SaveForm(newTypeForm.value)" *ngIf="entity1">
							<h4 id="dialog-sizes-name1" class="modal-title pull-left">Quản lý tin tức</h4>
							<div class="modal-header">
								<button type="button" class="close pull-right" (click)="editAndADD1.hide()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-4">
										<label for="id">Id tin tức:</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<input type="text" class="form-control" value="" name="id"
											[(ngModel)]="entity1.id">
									</div>
									<div class="col-md-4">
										<label for="newtypeId">Id loại tin:</label>
										<input type="text" class="form-control" value="" name="newtypeId"
											[(ngModel)]="entity1.newtypeId">
									</div>
									<div class="col-md-4">
										<label for="postTime">Thời gian đăng:</label>
										<input type="datetime-local" class="form-control" value="" name="postTime"
											[(ngModel)]="entity1.postTime">
									</div>
								</div>
								<!-- <div class="row">
									<div class="col-md-12">
										<label for="logo">Hình ảnh:</label>
										<div class="row" style="margin-bottom:15px;">
											<div class="col-md-3">
											  <input type="file" #file (change)="uploadFile(file.files)" style="display:none;" (onUploadFinished)="uploadFinished($event)" name="image" [(ngModel)]="entity.image">
											  <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
											</div>
											<div class="col-md-9">
											  <span class="upload" *ngIf="progress > 0">
												{{progress}}%
											  </span>
											  <span class="upload" *ngIf="message">
												{{message}}
											  </span>
											</div>
										  </div>
									</div>
								</div> -->
								<div class="row">
									<div class="col-md-12">
										<label for="title">Tiêu đề tin:</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<input type="text" class="form-control" value="" name="title"
											[(ngModel)]="entity1.title">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="description">Mô tả:</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<ckeditor [editor]="Editor" data="Mô tả chi tiết" name="description" [(ngModel)]="entity1.description" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="content"
											[(ngModel)]="entity.content"> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="newcontent">Nội dung:</label>
										<input type="hidden" [(ngModel)]="checkedid">
										<ckeditor [editor]="Editor" data="Nội dung" name="newcontent" [(ngModel)]="entity1.newcontent" ></ckeditor>
										<!-- <input type="text" class="form-control" value="" name="newcontent"
											[(ngModel)]="entity.newcontent"> -->
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-default">Submit</button>
								<button type="button" class="btn btn-default" (click)="editAndADD1.hide()"
									data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="copy">
				<p> &copy; 2020 Minimal. All Rights Reserved | Design by LeVanLong </p>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>