<div id="wrapper">
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="content-main">
			<!--banner-->
			<div class="banner">
				<h2>
					<a href="index.html">Home</a>
					<i class="fa fa-angle-right"></i>
					<span>Product</span>
				</h2>
			</div>
			<!--//banner-->
			<!--content-->
			<div class="content-top">
				<div class="col-md-12 ">
					<div class="content-top-1">
						<div>
							<h3>Quản lý điểm tích lũy</h3><br />
							<button style="margin-bottom:1%;" class="btn btn-success" (click)="showAdd()">Thêm
								+</button>
								<table class="table table-bordered">
									<thead>
									  <tr>
										<th>Id</th>
										<th>Điển tích lũy</th>
										<th>Điểm thưởng</th>
										<th>Điểm cộng</th>
										<th>Giá bán</th>
										<th>Thành viên</th>
										<th>Tác vụ</th>
									  </tr>
									</thead>
									<tbody>
									  <tr *ngFor="let item of items">
										<td>{{item.id}}</td>
										<td>{{item.addBonusPoints}}</td>
										<td>{{item.totalScore}}</td>
										<td>{{item.changePoint}}</td>
										<td>{{item.price.price1}}</td>
										<td>{{item.user.fullname}}</td>
										<td>
											<button style="margin-left: 2%;" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"
													(click)="showDetail(item.id)"></i></button>
											<button  style="margin-left: 2%;" class="btn btn-success" (click)="showEdit(item.id)"><i
													class="fa fa-pencil" aria-hidden="true"></i></button>
											<button  style="margin-left: 2%;" class="btn btn-danger" (click)="deleteShow(item.id)"><i
													class="fa fa-trash-o" aria-hidden="true"></i></button>
										</td>
									  </tr>
									</tbody>
								  </table>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div bsModal #editAndADD="bs-modal" class="modal fade" tabindex="-1" role="dialog"
				aria-labelledby="dialog-sizes-name1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form #newTypeForm="ngForm" (ngSubmit)="SaveForm(newTypeForm.value)" *ngIf="entity">
							<div class="modal-header">
								<h4 id="dialog-sizes-name1" class="modal-title pull-left">Quản lý điểm thưởng</h4>
								<button type="button" class="close pull-right" (click)="editAndADD.hide()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label for="id">Mã hóa đơn:</label>
									<input type="hidden" [(ngModel)]="checkedid">
									<input type="text" class="form-control" value="" name="id" [(ngModel)]="entity.id">
								</div>
								<div class="form-group">
									<label for="dateSale">Ngày bán:</label>
									<input type="text" class="form-control" value="" name="dateSale"
										[(ngModel)]="entity.dateSale">
								</div>
								<div class="form-group">
									<label for="personImportId">Số lượng:</label>
									<input type="text" class="form-control" value="" name="personImportId"
										[(ngModel)]="entity.personImportId">
								</div>
								<div class="form-group">
									<label for="totalMoney">Tổng tiền:</label>
									<input type="text" class="form-control" value="" name="totalMoney"
										[(ngModel)]="entity.totalMoney">
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-default">Submit</button>
								<button type="button" class="btn btn-default" (click)="editAndADD.hide()"
									data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div bsModal #editAndADD1="bs-modal" class="modal fade" tabindex="-1" role="dialog"
				aria-labelledby="dialog-sizes-name1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form #newTypeForm="ngForm" (ngSubmit)="SaveForm(newTypeForm.value)" *ngIf="entity1">
							<div class="modal-header">
								<h4 id="dialog-sizes-name1" class="modal-title pull-left">Quản lý hóa đơn bán</h4>
								<button type="button" class="close pull-right" (click)="editAndADD1.hide()"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label for="id">Mã hóa đơn:</label>
									<input type="hidden" [(ngModel)]="checkedid">
									<input type="text" class="form-control" value="" name="id" [(ngModel)]="entity1.id">
								</div>
								<div class="form-group">
									<label for="dateSale">Ngày bán:</label>
									<input type="text" class="form-control" value="" name="dateSale"
										[(ngModel)]="entity1.dateSale">
								</div>
								<div class="form-group">
									<label for="personImportId">Số lượng:</label>
									<input type="text" class="form-control" value="" name="personImportId"
										[(ngModel)]="entity1.personImportId">
								</div>
								<div class="form-group">
									<label for="totalMoney">Tổng tiền:</label>
									<input type="text" class="form-control" value="" name="totalMoney"
										[(ngModel)]="entity1.totalMoney">
								</div>
							</div>
							<div class="modal-footer">
								<!-- <button type="submit" class="btn btn-default">Submit</button> -->
								<button type="button" class="btn btn-default" (click)="editAndADD1.hide()"
									data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="copy">
				<p> &copy; 2020 Minimal. All Rights Reserved | Design by LeVanLong </p>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>